@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h2>Подтверждение регистрации</h2>
<p>На вашу почту было отправлено письмо с подтверждением. Пожалуйста, проверьте вашу почту и подтвердите аккаунт, чтобы завершить регистрацию.</p>
